body {
    background-color: lightgoldenrodyellow;
    
}

a {
    margin:20px;
}

div.sound { /*need a box to click to hear voices*/
}

div.partners {
    font-weight:bold
}

div.nav { 
}

div.person_info>img {
}

span.username {
    font-weight:bold;
}

h1, h3 {
}

div.title {
    margin-top:20px;
    margin-bottom:20px;
    font-weight:bold;
}

label {
    clear:left;
    float:left;
    margin-bottom:50px;
}

input {
    clear:right;
    float:right;
}

img.person_image {
    height:120px; 
    width:100px;
}

form image {
    float:right;
    clear:right;
}

table {
}

svg {
}

g.desks {
}

img.seat_pic {
}
/*want to be able to hide each day that has passed unless you press a button, that would look really cool. */
div.day {
    font-weight:bold
}

div.person_info {
}

div.day-box Completed {
}

div.day-box Current {
}

div.day-box Prep {
}

div.header {
}

div.day {
}

div.reading-box {
}


