body {
    background-image:url(beach.jpg);
    
}

a {
    margin:20px;
}

div.sound { /*need a box to click to hear voices*/
}

div.partners {
    font-weight:bold
}

div.nav { 
}

div.person_info>img {
}

span.username {
    font-weight:bold;
}

h1, h3 {
    font-family: Bradley hand;
    font-size: 60px;
    color: #5c4a00;;
}

div.title {
    margin-top:20px;
    margin-bottom:20px;
    font-weight:bold;
}

label {
    clear:left;
    float:left;
    margin-bottom:50px;
}

input {
    clear:right;
    float:right;
}

img.person_image {
    height:120px; 
    width:100px;
}

form image {
    float:right;
    clear:right;
}

table {
}

svg {
}

g.desks {
}

img.seat_pic {
}
/*want to be able to hide each day that has passed unless you press a button, that would look really cool. */
div.day {
    font-weight:bold;
    font-size: 20px;
}

div.person_info {
}

div.day-box Completed {
    background-color: #f5df87;
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    font-family: American typewriter;
    
}

div.day-box Current {
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    background-color: #b5ffa8;
    font-family: American typewriter;
}

div.day-box Prep {
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    background-color: #8DCEEE;
    font-family: American typewriter;
}

div.header {
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    background-color: #49ACCC;
}

div.day {
}

div.reading-box {
}


