body {
    background-image:url(beach.jpg);
}

a {
    margin:20px;
    font-family: American typewriter;
    font-size: 25px;
}

div.grade {
    font-family: American typewriter;
    font-size: 18px;
}

div.partners {
    font-weight:bold
}

div.person_info>img {
    height: 100px;
    width: 100px;
    border: 5px solid #5c4a00;
}

span.username {
    font-weight:bold;
    font-family: Bradley Hand;
    font-size: 30px
}

h1, h3 {
    font-family: Bradley hand;
    font-size: 60px;
    color: #5c4a00;
}

div.title {
    margin-top:20px;
    margin-bottom:20px;
    font-weight:bold;
    background-color: #f5df87;
    text-align: center;
    padding: 5px;
}

label {
    clear:left;
    float:left;
    margin-bottom:50px;
}

input {
    clear:right;
    float:right;
}

img.person_image {
    height:120px; 
    width:100px;
}

form img {
    float:left;
    clear:right;
    margin-left: 10px;
    margin-bottom: 10px;
}

form {
    font-family:american typewriter;
}

table {
    text-align: center;
    font-family: american typewriter;
    background-color: #f5df87;
    border: 3px solid #5c4a00;
}

td:hover {
   background-color: #d4ffa6; 
}

th:hover {
   background-color: #8DCEEE; 
}

th {
    text-decoration: underline;
}

g.desks rect {
    fill: #f5df87;
}


div.day {
    font-weight:bold;
    font-size: 20px;
}

div.person_info {
}

div.day-box.COMPLETED {
    background-color: #f5df87;
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    font-family: American typewriter;
    
}

div.day-box.CURRENT {
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    background-color: #d4ffa6;
    font-family: American typewriter;
}

div.day-box.PREP {
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    background-color: #8DCEEE;
    font-family: American typewriter;
}

div.header {
    padding: 5px;
    margin: 10px;
    border: 5px solid #5c4a00;
    background-color: #49ACCC;
    border-radius: 25px 25px 25px 25px
}

div.day {
}

div.reading-box {
    padding: 5px;
    margin: 20px;
   
}

div.lab-box {
    padding:5px;
    margin:20px;   
}

div.sound {
    background-image:url(coconut.jpg);
    width: 50px;
    height: 37;
}

div.assignment-label {
 font-weight: bold;
    font-size: 30px;
}

div.reading {
 font-size: 30px;   
}

div.prep-box {
    padding: 5px;
    margin: 20px;   
}

g#desks rect {
    fill: #f5df87;  
}

svg>rect {
 background: linear-gradient(to bottom, #f5df87 0%, #5c4a00 100%);   
}
